.root{
    -fx-font-weight: bold;
    -fx-background-image: url(Pic2.jpg);
}
.label{
    -fx-text-fill: #060606;
    -fx-label-padding: 7px;
}
.button{
    -fx-background-color: rgba(46, 54, 178, 0.42);
    -fx-text-fill: #060606;
    -fx-background-radius: 4;
    -fx-font-weight: bold;
}
.button:hover{
    -fx-background-color: #32b444;
}
#enter{
    -fx-background-color: rgba(31, 112, 23, 0.85);
    -fx-text-fill: #060606;
    -fx-background-radius: 4;
}
#enter:hover{
    -fx-background-color: #92f590;
}
#clear{
    -fx-background-color: rgba(160, 45, 70, 0.84);
    -fx-text-fill: #060606;
    -fx-background-radius: 4;
}
#clear:hover{
    -fx-background-color: #eb6d87;
}
#cancel{
    -fx-background-color: rgba(87, 122, 194, 0.85);
    -fx-text-fill: #060606;
    -fx-background-radius: 4;
}
#cancel:hover{
    -fx-background-color: #9fdaee;
}